@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
  background-image: url('public/summer-pattern.jpeg');
  font-family: 'Nunito', sans-serif;
  // margin-top: 25px;
}

.title-text {
  text-shadow: -1px 0 #F8FFA8, 0 1px #F8FFA8, 1px 0 #F8FFA8, 0 -1px #F8FFA8;
}

.border {
  margin: 10px 0px;
  padding: 10px 15px;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  // background-color: rgba(23, 162, 185, 1);
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}
